<footer class="site-footer">
<div class="site-footer__content">
  <img src="./assets/blog/img/blog-logo.png" alt="site logo" width="75", height="75">
  <p>© {% year %} Sarah Lopez. All rights reserved.</p>
  </div>
</footer>