---
title: "My Blog"
layout: 'base.njk'
---

<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">Sarah's Adventures in Web Development</h1>
      <p>Welcome! I'm a Web Development newbie, diving head-first into the wild world of Webdev. It's a lot to take in, but I'm having fun. Join me on my journey to conquer (or at least become good friends with) HTML, CSS, and JavaScript.</p>
      <p>Check out my articles below!</p>
      <div class="flex-group">
        <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
        <a href="./blog" class="btn btn--neutral">Most recent articles</a>
      </div>
    </div>

  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center"></p>
    <ul role="list" class="articles__list flow">
      {%- for post in collections.featured | reverse -%}
      {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </div>
</section>